{% extends "SanskarSamaj/base.html" %}
{% load static %}
{% block title %}Causes{% endblock %}
{% block page_content %}

{% for banner in banners %}


<div class="hero-wrap" style="background-image: url('/media/{{ banner.causes_banner }}');" data-stellar-background-ratio="0.5">
    
    {% endfor %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
           <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Causes</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Causes</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section">
        <div class="container">
                <div class="row">
                        {% for causes in cause %}
                        <div class="col-md-4 ftco-animate">
                                <div class="cause-entry">
                                      <a href="{% url 'causes_detail' causes.slug %}" class="img" style="background-image: url('/media/{{ causes.cause_image }}');"></a>
                                      <div class="text p-3 p-md-4">
                                          <h3><a href="{% url 'causes_detail' causes.slug %}">{{ causes.title }}</a></h3>
                                          <p>{{ causes.description | slice:":400" }}...</p>
                                          
                                      </div>
                                  </div>
                            </div>
                            {% endfor %}
                
            </div>
            
          <div class="row mt-5">
            <div class="col text-center">
              <div class="block-27">
                  {% if cause.has_other_pages %}
                  <ul>
                    {% if cause.has_previous %}
                      <li><a href="?page={{ cause.previous_page_number }}">&lt;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in cause.paginator.page_range %}
                      {% if cause.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if cause.has_next %}
                      <li><a href="?page={{ cause.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&gt;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}