{% extends "SanskarSamaj/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Contact Us{% endblock %}
{% block page_content %}

{% for banner in banners %}

<div class="hero-wrap" style="background-image: url('/media/{{ banner.contact_banner }}');" data-stellar-background-ratio="0.5">
   
    {% endfor %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a
                href="{% url 'index' %}">Home</a></span> <span>Contact Us</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Contact Us</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section contact-section ftco-degree-bg">
        <div class="container">
          <div class="row d-flex mb-5 contact-info">
              {% for detail in details %}
              
            <div class="col-md-12 mb-4">
                
                
              <h2 class="h4">Contact Information</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3">
              <p><span>Address:</span> {{ detail.location }}</p>
            </div>
            <div class="col-md-3">
              <p><span>Phone:</span> <a href="tel:{{ contacts.phone_number }}">{{ detail.phone_number }}</a></p>
            </div>
            <div class="col-md-3">
              <p><span>Email:</span> <a href="mailto:{{ contacts.email }}">{{ detail.email }}</a></p>
            </div>
            <div class="col-md-3">
              <p><span>Website</span> <a href="#">{{ detail.website }}</a></p>
            </div>
          </div>
          
          {% endfor %}
          <div class="row block-9">
            <div class="col-md-6 pr-md-5">
                <h4 class="mb-4">Do you have any questions?</h4>
              <form  method="post">
                  {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" required placeholder="Your Name" name="name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" required placeholder="Your Email" name="email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" required placeholder="Subject" name="subject">
                </div>
                <div class="form-group">
                  <textarea name="message" id="" cols="30" required rows="7" class="form-control" placeholder="Message"></textarea>
                </div>
                
                <div class="form-group">
                  <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                </div>
              </form>
            
            </div>
  
            <div class="col-md-6">
              {% for detail in details %}
              <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="400" id="gmap_canvas" src="{{ detail.map_link }}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                {% endfor %}
              </iframe><a href="https://www.emojilib.com"></a></div>
              <style>.mapouter{position:relative;text-align:right;height:400px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:600px;}</style></div>

            </div>

            
          </div>
        </div>
        
      </section>

  
{% endblock %}