{% extends "SanskarSamaj/base.html" %}
{% load static %}
{% block page_content %}
{% load bootstrap4 %}
{% for banners in banner %}

<div class="hero-wrap" style="background-image: url('/media/{{ banners.gallery_banner }}');" data-stellar-background-ratio="0.5">
{% if messages %}
   <script>
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
   </script>
{% endif %}
  {% endfor %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a
                href="{% url 'index' %}">Home</a></span><span class="mr-2"><a href="{% url 'gallery' %}">Gallery</a></span> <span>More Images</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">More Images</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-gallery" >
      {% bootstrap_messages messages %} 
                
  
  
      
    
        <div class="d-md-flex">
          
          {% for image in more_images %}
                     
          <a href="/media/{{ image.image }}"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url('/media/{{ image.image }}');">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
          {% if forloop.counter|divisibleby:4 %}
          
        </div> 
        <div class="d-md-flex">
          {% endif %}
          {% endfor %}
          
        </div>
      
      
   
          
         
        
          
         <p style= "margin-top: 15px; text-align:center;"><a href="{% url 'gallery'  %}" class="btn btn-white px-3 py-2 mt-2 center" >View More</a></p>
        </section> 

  
{% endblock %}