{% extends "SanskarSamaj/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block page_content %}
{% if messages %}
   <script>
    {% for message in messages %}
        alert("{{ message }}");
    {% endfor %}
   </script>
{% endif %}
{% for banner in banners %}

<div class="hero-wrap" style="background-image: url('/media/{{ banner.index_banner }}');" data-stellar-background-ratio="0.5">
 
    {% endfor %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                



            </div>
        </div>
    </div>
</div>


<section class="ftco-counter ftco-intro" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <span>Served Over</span>
                        <strong class="number" data-number="{{ events|length }}">0</strong>
                        <span>Communities in Nepal</span>
                    </div>
                </div>
            </div>

            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Be a Volunteer</h3>
                        {% for section in sections %}
                        
                        <p><em>{{ section.volunteer_text }}</em></p>
                        
                        {% endfor %}
                        <p><a href="{% url 'volunteer_page'  %}" class="btn btn-white px-3 py-2 mt-2">Be A Volunteer</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- <section class="ftco-section bg-light">
    <div class="container-fluid">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-5 heading-section ftco-animate text-center">
          <h2 class="mb-4">Our Causes</h2>
          
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 ftco-animate">
          <div class="carousel-cause owl-carousel">
                {% for causes in cause %}
            <div class="item">
              <div class="cause-entry">
                <a href="{% url 'causes_detail' causes.pk %}" class="img" style="background-image: url('/media/{{ causes.cause_image }}');"></a>
                <div class="text p-3 p-md-4">
                  <h3><a href="{% url 'causes_detail' causes.pk %}">{{ causes.title }}</a></h3>
                  <p>{{ causes.desc }}</p>
                 
                  
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
      
    </div>
  </section> -->

  <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Our Latest Events</h2>
          </div>
        </div>
        <div class="row">
            {% for event in latest_event %}
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a href="{% url 'events_detail' event.slug %}" class="block-20" style="background-image: url('/media/{{ event.image }}');">
              </a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><a href="#"><i class="icon-date_range"></i>{{ event.date|date }}</a></div>
                  
                  
                </div>
                <h3 class="heading mb-4"><a href="{% url 'events_detail' event.slug %}">{{ event.title }}</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> {{ event.date|time }} onwards</span> <span><i
                      class="icon-map-o"></i> Venue: &nbsp; {{ event.venue }} </span></p>
                <p>{{ event.text | slice:":200" }}...</p>
                
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </section>

<section class="ftco-section bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-5 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Causes</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-cause owl-carousel">
                    {% for cause in causes %}
                    <div class="item">
                        <div class="cause-entry">
                            <a href="{% url 'causes_detail' cause.slug %}" class="img"
                                style="background-image: url('/media/{{ cause.cause_image }}');"></a>
                            <div class="text p-3 p-md-4">
                                <h3><a href="{% url 'causes_detail' cause.slug %}">{{ cause.title }}</a></h3>
                                <p>{{ cause.description | slice:":200" }}...</p>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>




<!-- <section class="ftco-section">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-5 heading-section ftco-animate text-center">
                <h2 class="mb-4">Testimonials</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-cause owl-carousel">
                    
                    <div class="item">
                        <div class="cause-entry">
                            <div class="staff">
                                <div class="row">
                                    <div class="d-flex mb-4">
                                        <div class="img"
                                            style="background-image: url('/media/');"></div>
                                    </div>
                                    <div class="info ml-6">
                                        <h3></h3>
                                        <span class="position">&nbsp;</span>

                                        <p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section> -->




<section class="ftco-gallery" >
       
   
      <div class="d-md-flex">
        {% for gallerys in galleries %}
            
        <a href="/media/{{ gallerys.image }}"
          class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
          style="background-image: url('/media/{{ gallerys.image }}');">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="icon-search"></span>
          </div>
        </a>
        {% if forloop.counter|divisibleby:4 %}
        
      </div> 
      <div class="d-md-flex">
        {% endif %}
        {% endfor %}
      </div>
    
    
 
        
       
      
        
       <p style= "margin-top: 15px; text-align:center;"><a href="{% url 'gallery'  %}" class="btn btn-white px-3 py-2 mt-2 center" >View More</a></p>
      </section>  

      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
              <h2 class="mb-4">Testimonials</h2>
      
            </div>
          </div>
          <div class="row">
            {% for testimonial in testimonials %} 
            <div class="col-lg-6">
              <div class="staff">
                <div class="d-flex mb-4">
                  <div class="img" style="background-image: url('/media/{{ testimonial.image }}');"></div>
                  <div class="info ml-4">
                    <h3>{{ testimonial.title }}</h3>
                    <span class="position">&nbsp;{{ testimonial.position }}</span>
                    <div class="text">
                      <p>{{ testimonial.review }}
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            
              
          </div>
        </div>
      </section>
      
  
    

    

{% endblock %}