{% extends 'admin/dashboard.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %}{{title}} {% endblock %}</title>
<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Testimonial
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Testimonial</a></li>
            <li class="breadcrumb-item"><a href="#">Add Testimonial </a></li>

        </ol>
        {% bootstrap_messages %}
    </section>
    <!-- Main content -->
    <section class="content">

        {% if form.errors %}
        <div class="alert alert-danger ">
             {% for field in form %}
            {{ field.errors }}
            {% endfor %}

        </div>
        {% endif %}
        <!-- Basic Forms -->
        <div class="box box-solid box-primary">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col">
                        <form action="{% url 'admin:add_testimonial' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <h5>Name</h5>
                                <div class="controls">
                                    <input type="text" name="title" value="" class="form-control" ></div>
                            </div>
                            <div class="form-group">
                                <h5>Position</h5>
                                <div class="controls">
                                    <input type="text" name="position" value="" class="form-control" ></div>
                            </div>
                            
                            
                            <div class="form-group">
                                <h5>Testimonial</h5>
                                <div class="controls">
                                        <textarea name="review" data-provide="markdown" rows="10"></textarea>
                                    </div>
                            </div>
                            <div class="form-group">
                                <h5>Person's Image </h5>
                                <div class="controls">
                                    <input type="file" name="image"  class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                
                            </div>

                            <div class="text-xs-right">
                                <button type="submit" class="btn btn-info">Add</button>
                            </div>
                        </form>

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}