{% extends "admin/dashboard.html" %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %}Change Password {% endblock %}</title>
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Change Password
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{user.username}}</a></li>
            <li class="breadcrumb-item"><a href="#">Change Password </a></li>
        </ol>
        {% bootstrap_messages %}
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Basic Forms -->
        <div class="box box-solid box-primary">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="text-xs-right">
                                <button type="submit" class="btn btn-info">Save Changes</button>
                            </div>
                        </form>

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
{% endblock %}