{% extends 'admin/dashboard.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %} {% endblock %} </title>

{% block content %}

<div class="content-wrapper">

    <!-- Main content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Testimonial Detail
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="iconsmind-Library"></i></a></li>
        <li class="breadcrumb-item"><a href="#">Testimonial</a></li>
        <li class="breadcrumb-item active">Detail</li>
      </ol>
      {% bootstrap_messages %}
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
            <div class="col-md-12 col-lg-2"></div>
            <div class="col-md-12 col-lg-8">
                    <div class="card">
                      <img class="card-img-top" src="/media/{{ testimonial.image }}" alt="Card image cap">
                      <div class="card-body">
                            <div class="fx-card-content">
                                    <h3 class="box-title">{{ testimonial.title }}</h3> 
                                    <small>Position: &nbsp;{{ testimonial.position }}</small>
                                    <br> </div>
                       <br>
                        <p class="card-text">{{ testimonial.review }}</p>
                      </div>
                      
                    </div>
                </div>
                <div class="col-md-12 col-lg-2"></div>
      </div>
      
    </section>
</div>


{% endblock %}