{% extends 'admin/dashboard.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %}Event Detail {% endblock %} </title>

{% block content %}

<div class="content-wrapper">

    <!-- Main content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Event Detail
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Event</a></li>
        <li class="breadcrumb-item active">Detail</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12 col-lg-2">
                
            </div>

            <div class="col-md-12 col-lg-8" >
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">{{ event.title }}</h4>
                        <p class="card-text">{{ event.text }}</p>
                      </div>
                      <img class="card-img-top" src="/media/{{ event.image }}" alt="Card image cap">
                      <div class="card-footer d-flex justify-content-between">
                        <span class="font-size-14 text-muted">{{ event.date }}</span>
                        
                      </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-2"></div>
            </div>
      
    </section>
</div>


{% endblock %}