{% extends 'admin/dashboard.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %}Update Event {% endblock %}</title>
<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit Event
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Events</a></li>
            <li class="breadcrumb-item"><a href="#">Edit Event </a></li>

        </ol>
        {% bootstrap_messages %}
    </section>
    <!-- Main content -->
    <section class="content">

        {% if form.errors %}
        <div class="alert alert-danger ">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}

        </div>
        {% endif %}
        <!-- Basic Forms -->
        <div class="box box-solid box-primary">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col">
                        <form action="{% url 'admin:edit_event' event.slug %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <h5>Event Title </h5>
                                <div class="controls">
                                    <input type="text" name="title" value="{{ event.title }}" class="form-control" ></div>
                            </div>
                            <div class="form-group">
                                <h5>Event Date </h5>
                                <div class="controls">
                                    <input type="date" name="date"  value="{{ event.date|date:'Y-m-d'  }}"  class="form-control"  aria-invalid="false"> <div class="help-block"></div></div>
                               
                                    
                            </div>

                            <div class="form-group">
                                    <h5>Event Time </h5>
                                    <div class="controls">
                                        <input type="time" name="time" value= "{{ event.time|time:'H:i' }}" class="form-control" aria-invalid="false" title="Enter a valid date and time">
                                        <div class="help-block"></div>
                                    </div>
    
    
                                </div>

                            
                            
                            <div class="form-group">
                                <h5>Event Venue </h5>
                                <div class="controls">
                                    <input type="text" name="venue" value="{{ event.venue }}" class="form-control" ></div>
                            </div>
                            <div class="form-group">
                                <h5>Event Description </h5>
                                <div class="controls">
                                        <textarea name="text" data-provide="markdown" rows="10">{{ event.text }}</textarea>
                                                
                                        
                                        
                                    </div>

                            </div>
                            <div class="form-group">
                                <h5>Upload Image </h5>
                                <div class="controls">
                                    <input type="file" name="image"   class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                <div class="mt-20">
                                        <img src="/media/{{ event.image }}" alt="image" style="width:150px; height:150px;">
                                    </div>
                                
                            </div>

                            <div class="text-xs-right">
                                <button type="submit" class="btn btn-info">Update</button>
                            </div>
                        </form>

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>

<!-- /.content-wrapper -->

{% endblock %}