{% extends 'admin/dashboard.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %}Update Setting {% endblock %}</title>
<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Settings
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Settings</a></li>
            <li class="breadcrumb-item"><a href="#">Update</a></li>
        </ol>
        {% bootstrap_messages %}
    </section>
    <!-- Main content -->
    <section class="content">

        {% if form.errors %}
        <div class="alert alert-danger ">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}

        </div>
        {% endif %}
        <!-- Basic Forms -->
        <div class="box box-solid box-primary">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col">
                        <form action="{% url 'admin:edit_setting' setting.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <h5>About Section Title </h5>
                                <div class="controls">
                                    <input type="text" name="about_title" value="{{ setting.about_title }}" required class="form-control" ></div>
                            </div>
                            <div class="form-group">
                                <h5>About Section Description </h5>
                                <div class="controls">
                                        <textarea name="about_description" id="about_description" data-provide="markdown" rows="10">
                                            {{ setting.about_description }}
                                        </textarea>
                                    </div>
                            </div>
                            <div class="form-group">
                                <h5>About Page Image </h5>
                                <div class="controls">
                                    <input type="file" name="about_image"  class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                <div class="mt-20">
                                    <img src="/media/{{ setting.about_image }}" alt="image" style="width:150px; height:150px;">
                                </div>
                            </div>

                            <div class="form-group">
                                    <h5>Login Page Background Image </h5>
                                    <div class="controls">
                                        <input type="file" name="login_bg"  class="form-control" >
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="mt-20">
                                        <img src="/media/{{ setting.login_bg }}" alt="image" style="width:150px; height:150px;">
                                    </div>
                                </div>


                            <div class="form-group">
                                <h5>Description for Volunteer Section in home page: </h5>
                                <div class="controls">
                                        <textarea name="volunteer_text" id="about_description" data-provide="markdown" rows="10">
                                                {{ setting.volunteer_text }}
                                        </textarea>
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <h5>Logo </h5>
                                <div class="controls">
                                    <input type="file" name="logo" class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                <div class="mt-20">
                                        <img src="/media/{{ setting.logo }}" alt="image" style="width:150px; height:150px;">
                                    </div>
                            </div>

                            <div class="form-group">
                                <h5>Volunteer Page Image </h5>
                                <div class="controls">
                                    <input type="file" name="volunteer_image" class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                <div class="mt-20">
                                        <img src="/media/{{ setting.volunteer_image }}" alt="image" style="width:150px; height:150px;">
                                    </div>
                            </div>

                            <div class="form-group">
                                <h5>Volunteer Page Background Image </h5>
                                <div class="controls">
                                    <input type="file" name="volunteer_bg_image" class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                <div class="mt-20">
                                        <img src="/media/{{ setting.volunteer_bg_image }}" alt="image" style="width:150px; height:150px;">
                                    </div>
                            </div>


                            <div class="text-xs-right">
                                <button type="submit" class="btn btn-info">Update</button>
                            </div>
                        </form>

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}