{% extends 'admin/dashboard.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %}Update Banner{% endblock %}</title>
<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Settings
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Banner</a></li>
            <li class="breadcrumb-item"><a href="#">Update</a></li>

        </ol>
        {% bootstrap_messages %}
    </section>
    <!-- Main content -->
    <section class="content">

        {% if form.errors %}
        <div class="alert alert-danger ">
             {% for field in form %}
            {{ field.errors }}
            {% endfor %}
        </div>
        {% endif %}
        <!-- Basic Forms -->
        <div class="box box-solid box-primary">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col">
                        <form action="{% url 'admin:edit_banner' banner.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <h5>Home Banner </h5>
                                <div class="controls">
                                    <input type="file" name="index_banner" class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                <div class="mt-20">
                                    <img src="/media/{{ banner.index_banner }}" alt="image" style="width:150px; height:150px;">
                                </div>

                            </div>
                                  <div class="form-group">
                                <h5>Causes Page Banner </h5>
                                <div class="controls">
                                    <input type="file" name="causes_banner" class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                      <div class="mt-20">
                                    <img src="/media/{{ banner.causes_banner }}" alt="image" style="width:150px; height:150px;">
                                </div>

                            </div>
                                  <div class="form-group">
                                <h5>Events Page Banner </h5>
                                <div class="controls">
                                    <input type="file" name="events_banner" class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                      <div class="mt-20">
                                    <img src="/media/{{ banner.events_banner }}" alt="image" style="width:150px; height:150px;">
                                </div>

                            </div>
                                  <div class="form-group">
                                <h5>About Page Banner </h5>
                                <div class="controls">
                                    <input type="file" name="about_banner" class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                      <div class="mt-20">
                                    <img src="/media/{{ banner.about_banner }}" alt="image" style="width:150px; height:150px;">
                                </div>

                            </div>
                                  <div class="form-group">
                                <h5>Contact Banner </h5>
                                <div class="controls">
                                    <input type="file" name="contact_banner" class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                      <div class="mt-20">
                                    <img src="/media/{{ banner.contact_banner }}" alt="image" style="width:150px; height:150px;">
                                </div>

                            </div>
                                  <div class="form-group">
                                <h5>Volunteer Banner </h5>
                                <div class="controls">
                                    <input type="file" name="volunteer_banner" class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                      <div class="mt-20">
                                    <img src="/media/{{ banner.volunteer_banner }}" alt="image" style="width:150px; height:150px;">
                                </div>

                            </div>
                                  <div class="form-group">
                                <h5>Gallery Banner </h5>
                                <div class="controls">
                                    <input type="file" name="gallery_banner" class="form-control" >
                                    <div class="help-block"></div>
                                </div>
                                      <div class="mt-20">
                                    <img src="/media/{{ banner.gallery_banner }}" alt="image" style="width:150px; height:150px;">
                                </div>

                            </div>


                            <div class="text-xs-right">
                                <button type="submit" class="btn btn-info">Update</button>
                            </div>
                        </form>

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}