<div class="modal" id="item-unit-modal1">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title">Add more images</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
              <form method="POST" action="{% url 'admin:add_more_image' %}" class="unit-ajax-form" enctype="multipart/form-data">
             {% csrf_token %}
             Select images: <input type="file" name="image" multiple>
                <button class="btn btn-primary mt-30" type="submit">Submit</button>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>