{% extends 'admin/index.html' %}
{% load static %}
<title>{% block title %}Password Reset Complete{% endblock %}</title>
{% block content %}
	<div class="container pt-3 h-p100">
	  <div class="row h-p100 justify-content-sm-center align-items-center">
		<div class="col-sm-6 col-md-4">
		  <div class="card border-info text-center">
			<div class="card-header text-center">
			</div>
			<div class="card-body">
                <h3>Password Changed Successfully.<a href="/admin/" style="color:blue;"> Click here to login.</a></h3>
			</div>
	  </div>
	</div>
	  </div>
	</div>

{% endblock %}