{% extends 'admin/index.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %}Password Reset {% endblock %}</title>
{% block content %}
	<div class="container pt-3 h-p100">
	  <div class="row h-p100 justify-content-sm-center align-items-center">
		<div class="col-sm-6 col-md-4">
             {% bootstrap_messages %}

		  <div class="card border-info text-center">
			<div class="card-header">
  <h3> A password reset link has been sent to your email.Click on this link to reset your password.
  </h3>
	  </div>
	</div>

        </div>
      </div>
    </div>

   {% endblock %}