{% extends 'admin/index.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %}Password Reset {% endblock %}</title>
{% block content %}
	<div class="container pt-3 h-p100">
	  <div class="row h-p100 justify-content-sm-center align-items-center">
		<div class="col-sm-6 col-md-4">
             {% bootstrap_messages %}

		  <div class="card border-info text-center">
			<div class="card-header text-center">
                <h5 style="width: 100%;">Please Enter your email to reset password</h5>

			</div>
			<div class="card-body">
			 <form action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}

					<div class="text-xs-right">
						<button type="submit" class="btn btn-info">Reset Password</button>
					</div>
                    </form>
			</div>
	  </div>
	</div>

	  </div>
	</div>
{% endblock %}