{% extends 'admin/dashboard.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %}Send Mail {% endblock %}</title>
<!-- Content Wrapper. Contains page content -->
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Send Mail To All
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Send Mail</a></li>

        </ol>
        {% bootstrap_messages %}
    </section>
    <!-- Main content -->
    <section class="content">

        {% if form.errors %}
        <div class="alert alert-danger ">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}

        </div>
        {% endif %}
        <!-- Basic Forms -->
        <div class="box box-solid box-primary">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col">

                        <form action="{% url 'admin:send_mail_all_contact' %}" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <h5>Subject </h5>
                                <div class="controls">
                                    <input type="text" name="subject"  class="form-control"
                                        >

                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5>Message </h5>
                                <div class="controls">
                                    <input type="text" name="message"  class="form-control"
                                        >

                                    <div class="help-block"></div>
                                </div>
                            </div>




                            <div class="text-xs-right">
                                <button type="submit" class="btn btn-info">Send Mail</button>
                            </div>
                        </form>



                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}