{% extends 'admin/dashboard.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %}Volunteers Messages {% endblock %} </title>

{% block content %}

<div class="content-wrapper">

    <!-- Main content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Volunteers &nbsp; <span class="badge badge-pill badge-info">{{ volunteers|length }}</span>
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Volunteers</a></li>
        <li class="breadcrumb-item active">View</li>
      </ol>
      {% bootstrap_messages %}
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
            <div class="box box-solid box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">View Volunteers</h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
				<div class="table-responsive">
            <form role="form" action="{% url 'admin:delete_selected_volunteer' %}" method="post">
                {% csrf_token %}
				  <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
					<thead>
						<tr><th>SN</th>
							<th>Name</th>
							<th>Email</th>
							<th>Message</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for volunteer in volunteers %}
						<tr>
							<td><ol type="1">
                 
                  {{ forloop.counter }}
							</ol>
                            </td>

                                <td>{{ volunteer.name }}</td>
							<td>{{ volunteer.email }}</td>
							<td>{{ volunteer.message }}</td>

                            <td> <a href="{% url 'admin:volunteer_detail' volunteer.id %}" data-toggle="tooltip"  title="View  Detail"><i class="ti-eye"></i></a> &nbsp; &nbsp;
                             
                              
 <a  data-toggle="modal" data-target="#item-unit-modal2"  title="Send Mail"><i class="ti-email"></i></a>
                             &nbsp; &nbsp;
                             
                              <a href="{% url 'admin:delete_volunteer' volunteer.id %}"  class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{volunteer.id}}"><i class="ti-trash"></i></a> </td>

						</tr>
                    <div class="modal" id="item-unit-modal2">
                              <div class="modal-dialog">
                                <div class="modal-content">

                                  <div class="modal-header">
                                    <h4 class="modal-title">Send Mail </h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>

                                  <div class="modal-body">
                                    <form method="POST" action="{% url 'admin:send_mail_volunteer' volunteer.id %}" class="unit-ajax-form">
                                   {% csrf_token %}
                                    <p><label>Subject</label> <input type="text" name="subject" class="form-control required" placeholder="Enter subject" ></p>
                                         <p><label>Message</label> <textarea name="message" class="form-control required" placeholder="Enter message" data-provide="markdown" rows="10"></textarea></p>
                                      <button class="btn btn-primary mt-30"  >Send Mail</button>
                                    </form>
                                  </div>

                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  </div>

                                </div>
                              </div>
                            </div>
					  
            {% endfor %}
        </table>

        {% if volunteers %}
        
        
      <a href="{% url 'admin:delete_all_volunteer' %}" class="confirm-delete" title="Delete" data-toggle="modal"
        data-target="#confirmDeleteModal" id="delete_all_messages">
        <button type="button" class="btn btn-danger mb-5">
          Delete All
        </button>
      </a>
      
      <button class="btn btn-primary" type="button"  data-toggle="modal" data-target="#item-unit-modal">Send Mail To All</button>

      {% endif %}
            </form>
				</div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      

<div class="modal" id="item-unit-modal">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title">Send Mail To All </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                <form method="POST" action="{% url 'admin:send_mail_all_contact' %}" class="unit-ajax-form">
               {% csrf_token %}
                  <p><label>Subject</label> <input type="text" name="subject" class="form-control required" placeholder="Enter subject" ></p>
                     <p><label>Message</label> <textarea name="message" class="form-control required" placeholder="Enter message" data-provide="markdown" rows="10"></textarea></p>
                  <button class="btn btn-primary mt-30">Send Mail</button>
                </form>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      <!-- /.row -->
    </section>
</div>


{% endblock %}