{% extends 'admin/dashboard.html' %}
{% load static %}
{% load bootstrap4 %}
<title>{% block title %} {% endblock %} </title>

{% block content %}

<div class="content-wrapper">

    <!-- Main content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Volunteers
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Volunteers</a></li>
        <li class="breadcrumb-item active">View</li>
      </ol>
      {% bootstrap_messages %}
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
            <div class="box box-solid box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">View Volunteers</h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
				<div class="table-responsive">
            <form role="form" action="{% url 'admin:delete_selected_volunteer' %}" method="post">
                {% csrf_token %}
				  <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
					<thead>
						<tr><th>SN</th>
							<th>Name</th>
							<th>Email</th>
							<th>Message</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for volunteer in volunteers %}
						<tr>
							<td><ol type="1">
                  <input name ="volunteers" type="checkbox" id="volunteer-{{volunteer.id}}" value="{{volunteer.id}}" >
                  <label for="volunteer-{{volunteer.id}}">{{ forloop.counter }}</label>
							</ol>
                            </td>

                                <td>{{ volunteer.name }}</td>
							<td>{{ volunteer.email }}</td>
							<td>{{ volunteer.message }}</td>

                            <td> <a href="" data-toggle="tooltip"  title="View  Detail"><i class="ti-eye"></i></a> &nbsp; &nbsp; &nbsp;
                             
                              

                             &nbsp; &nbsp; &nbsp; 
                             
                              <a href=""  class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton{{volunteer.id}}"><i class="ti-trash"></i></a> </td>

						</tr>
					  
            {% endfor %}
        </table>

        {% if volunteers %}
        
        <button type="submit" class="btn btn-danger mb-5">
          Delete Selected Messages

       </button>

      <a href="{% url 'admin:delete_all_volunteer' %}" class="confirm-delete" title="Delete" data-toggle="modal"
        data-target="#confirmDeleteModal" id="delete_all_messages">
        <button type="button" class="btn btn-danger mb-5">
          Delete All
        </button>
      </a>
      <button class="btn btn-primary" type="button"  data-toggle="modal" data-target="#item-unit-modal1">Send Mail To Selected Email</button>
      <button class="btn btn-primary" type="button"  data-toggle="modal" data-target="#item-unit-modal">Send Mail To All</button>

      {% endif %}
            </form>
				</div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
</div>


{% endblock %}